<mat-toolbar
  color="primary">

  <span fxFlex>{{appName}}</span>


  <button mat-icon-button
          color="primary"
          [matMenuTriggerFor]="menu"
          *ngIf="!hideMenu">
    <mat-icon aria-label="user menu">
      more_vert
    </mat-icon>
  </button>
  <mat-menu #menu="matMenu">

    <button mat-menu-item
            (click)="null">
      <mat-icon>
        swap_verticle
      </mat-icon>
      option one
    </button>

    <button mat-menu-item
            (click)="null">
      <mat-icon>
        swap_verticle
      </mat-icon>
      option two
    </button>

    <button mat-menu-item
            (click)="null">
      <mat-icon>
        swap_verticle
      </mat-icon>
      option three
    </button>

    <button mat-menu-item
            (click)="signOut()">
      <mat-icon>
        exit_to_app
      </mat-icon>
      sign out
    </button>
  </mat-menu>

</mat-toolbar>
