<mat-toolbar
  class="header-container"
  color="primary">

  <span class="app-title"
        routerLink="/">
    {{appName}}
  </span>
  <span fxFlex></span>


  <button mat-icon-button
          [matMenuTriggerFor]="menu"
          *ngIf="authService.hasLoggedIn()">
    <mat-icon aria-label="user menu">
      more_vert
    </mat-icon>
  </button>
  <mat-menu #menu="matMenu">

    <button mat-menu-item
            (click)="null">
      <mat-icon>
        swap_verticle
      </mat-icon>
      option one
    </button>

    <button mat-menu-item
            (click)="null">
      <mat-icon>
        swap_verticle
      </mat-icon>
      option two
    </button>

    <button mat-menu-item
            (click)="null">
      <mat-icon>
        swap_verticle
      </mat-icon>
      option three
    </button>

    <button mat-menu-item
            (click)="authService.signOut()">
      <mat-icon>
        exit_to_app
      </mat-icon>
      sign out
    </button>
  </mat-menu>

</mat-toolbar>
