@import "../../../style.theme";

.two-step-verification-container{

  @include mat-elevation(4);
  @include border-radius(4px);
  padding: 50px 25px;
  background: white;
  width: 90vw;
  max-width: 350px;

  h3{
    font-weight: 400;
    padding: 16px 0 0;
  }

}
