<!--

CHANGE PASSWORD COMPONENT: View

-->


<!--  Loading bar -->
<app-loading
  fullScreen="true"
  [message]="message"
  *ngIf="loading">
</app-loading>

<section *ngIf="!loading"
         class="account-container"
         fxLayout='column'>

  <!--set new password-->
  <form
    [formGroup]="changePasswordForm"
    (ngSubmit)="setNewPassword()"
    fxLayout="column">

    <div fxLayout="column"
         fxLayoutGap="20px"
         class="change-password-form app-card">

      <!--title-->
      <h3>Set New Password</h3>

      <!--
        current password
      -->
      <mat-form-field>
        <input matInput
               autocomplete="current-password"
               type="password"
               autofocus
               placeholder="Current Password"
               formControlName="currentPassword">
        <mat-error *ngIf="changePasswordForm.get('currentPassword').hasError('minlength')">
          <strong>min 8 characters required</strong>
        </mat-error>
        <mat-error [hidden]="!(changePasswordForm.get('currentPassword').hasError('required'))">
          <strong>required</strong>
        </mat-error>
      </mat-form-field>


      <!--
        password
      -->
      <mat-form-field>
        <input matInput
               autocomplete="new-password"
               type="password"
               autofocus
               placeholder="Password"
               formControlName="password">
        <mat-error *ngIf="changePasswordForm.get('password').hasError('minlength')">
          <strong>min 8 characters required</strong>
        </mat-error>
        <mat-error [hidden]="!(changePasswordForm.get('password').hasError('required'))">
          <strong>required</strong>
        </mat-error>
      </mat-form-field>


      <!--
        confirm password
      -->
      <mat-form-field>
        <input matInput
               autocomplete="new-password"
               type="password"
               placeholder="Confirm Password"
               formControlName="confirmPassword">
        <mat-error *ngIf="changePasswordForm.get('password').hasError('minlength')">
          <strong>min 8 characters required</strong>
        </mat-error>
        <mat-error [hidden]="!(changePasswordForm.get('confirmPassword').hasError('required'))">
          <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="changePasswordForm.get('confirmPassword').hasError('validMatch')">
          password's don't match
        </mat-error>
      </mat-form-field>

    </div>

    <!--action buttons-->
    <div fxLayout="row"
         class="app-action-buttons"
         fxLayoutAlign="end center">

      <button mat-raised-button
              class="submit-button"
              color="primary"
              type="submit"
              [disabled]="loading || changePasswordForm.invalid">
        SUBMIT
      </button>

    </div>

  </form>
</section>
