<!--

PASSWORD RESET COMPONENT: View

-->


<!--  Loading bar -->
<app-loading
  fullScreen="true"
  [message]="message"
  *ngIf="loading">
</app-loading>

<section *ngIf="!loading"
         class="account-container"
         fxLayout='column'
         fxLayoutAlign='center center'>

  <!-- password reset -->
  <form
    novalidate
    autocomplete="off"
    [formGroup]="user"
    (ngSubmit)="passwordReset()"
    fxLayout="column"
    *ngIf="show.passwordReset">

    <!--Close button for modal view-->
    <div class="close-button">
      <button mat-icon-button routerLink="/artworks">
        <mat-icon>clear</mat-icon>
      </button>
    </div>

    <!--title-->
    <h1>Reset Your Password</h1>
    <p>Password reset instructions will be sent to your email address.</p>

    <div fxLayout="row"
         fxLayoutGap="20px"
         fxLayoutAlign="start center">

      <!-- email -->
      <mat-form-field>
        <input type="email"
               matInput
               autofocus
               placeholder="Email"
               formControlName="email">
        <mat-error *ngIf="user.get('email').hasError('pattern')">
          <strong>invalid email</strong>
        </mat-error>
        <mat-error *ngIf="user.get('email').hasError('required')">
          <strong>required</strong>
        </mat-error>
      </mat-form-field>


    </div>

    <!--action buttons-->
    <div fxLayout="row"
         class="action-buttons"
         fxLayoutAlign="start center">
      <button mat-button
              app-no-ink
              [disabled]="loading"
              type="button"
              (click)="login()"
              class="secondary-option">
        Return to the Login Page
      </button>

      <span fxFlex></span>

      <button mat-raised-button
              class="submit-button"
              color="primary"
              type="submit"
              [disabled]="loading || user.invalid">
        Reset Password
      </button>
    </div>

  </form>

  <!--set new password-->
  <form
    novalidate
    [formGroup]="account"
    (ngSubmit)="setNewPassword()"
    fxLayout="column"
    #accountForm="ngForm"
    autocomplete="off"
    *ngIf="show.passwordSet">


    <!--Close button for modal view-->
    <div class="close-button">
      <button mat-icon-button routerLink="/artworks">
        <mat-icon>clear</mat-icon>
      </button>
    </div>


    <!--title-->
    <h1>Set New Password</h1>

    <!-- email -->
    <mat-form-field>
      <input type="email"
             matInput
             placeholder="Email"
             formControlName="email"
             disabled="true">
    </mat-form-field>

    <div fxLayout="row"
         fxLayoutGap="20px"
         fxLayoutAlign="start center">

      <!-- password -->
      <mat-form-field>
        <input matInput
               type="password"
               autofocus
               placeholder="Password"
               formControlName="password">
        <mat-error *ngIf="account.get('password').hasError('minlength')">
          <strong>min 8 characters required</strong>
        </mat-error>
        <mat-error [hidden]="!(account.get('password').hasError('required'))">
          <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <!-- confirm password -->
      <mat-form-field>
        <input matInput
               type="password"
               placeholder="Confirm Password"
               formControlName="confirmPassword">
        <mat-error *ngIf="account.get('password').hasError('minlength')">
          <strong>min 8 characters required</strong>
        </mat-error>
        <mat-error [hidden]="!(account.get('confirmPassword').hasError('required'))">
          <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="account.get('confirmPassword').hasError('validMatch')">
          password's don't match
        </mat-error>
      </mat-form-field>

    </div>

    <!--action buttons-->
    <div fxLayout="row"
         class="action-buttons"
         fxLayoutAlign="start center">
      <button mat-button
              app-no-ink
              [disabled]="loading"
              type="button"
              (click)="login()"
              class="secondary-option">
        Return to the Login Page
      </button>

      <span fxFlex></span>

      <button mat-raised-button
              class="submit-button"
              color="primary"
              type="submit"
              [disabled]="loading || account.invalid">
        Update Password
      </button>
    </div>
  </form>
</section>
