@use '~@angular/material' as mat;
@import "../../../styles";

.header-container{

  @include mat.elevation(4);

  .menu {
    margin: 0 8px;
  }

  h1 {
    font-weight: 400;
  }

  .app-title{
    outline: none;
    cursor: pointer;
  }

}

