/* You can add global styles to this file, and also import other style files */
@import 'app/shared-module/shared.style';

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: white;
  color: #212121;
}

.app-container {
  width: 100vw;
  max-width: $app-max-width;
  margin: 0 auto;
}

section {
  min-height: $app-min-height;
  z-index: 0;
}

app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 99;
}
